.default-btn
	display: inline-flex
	align-items: center
	white-space: nowrap
	border-radius: 5px
	font-weight: 600
	transition: background-color .4s ease, color .4s ease, border-color .4s ease
	font-size: rem(15)
	padding: 13px 30px
	line-height: inherit
	cursor: pointer
	letter-spacing: 0.02em
	background-color: var(--second-color)
	border: 0
	color: #fff

	